@if(TempData["success"]!=null){
<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>@TempData["success"]</strong>
</div>
}

@if(TempData["delete"]!=null){
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["delete"]</strong>
    </div>

}

@if (TempData["update"] != null)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["update"]</strong>
    </div>
}

